<!DOCTYPE html>
<html lang="ja">
<head>
<script type="module" src="/htdocs/index.js"></script>
<meta charset="utf-8" />
<title>輝晶獣</title>
</head>
<body>
<main>
<p>輝晶獣状態確認一覧</p>
<div id="timeList">
    <table id="tableList">
        <tr>
          <th>鯖</th>
          <th>幻</th>
          <th>時間</th>
          <th>鯖</th>
          <th>山</th>
          <th>時間</th>
          <th>鯖</th>
          <th>砂</th>
          <th>時間</th>
        </tr>
        <tr>
          <td><input type="text" size="1" maxlength="100" name="list1" value=""></td>
          <td><input type="text" size="1" maxlength="100" name="list2" value=""></td>
          <td><input type="text" size="5" maxlength="100" name="list3" value=""></td>
          <td><input type="text" size="1" maxlength="100" name="list4" value=""></td>
          <td><input type="text" size="1" maxlength="100" name="list5" value=""></td>
          <td><input type="text" size="5" maxlength="100" name="list6" value=""></td>
          <td><input type="text" size="1" maxlength="100" name="list7" value=""></td>
          <td><input type="text" size="1" maxlength="100" name="list8" value=""></td>
          <td><input type="text" size="5" maxlength="100" name="list9" value=""></td>
        </tr>
      </table>
</div>
</main>
</body>
</html>